{% extends "base.html" %}
{% load i18n %}
{% load pagination %}

{% block breadcrumbs %}
<li class="breadcrumb-item active" aria-current="page">
  {% trans "Resources" %}
</li>
{% endblock breadcrumbs %}


{% block content %}
  <div class="card-header">
    <i class="bi bi-door-open"></i>
    {% translate "Resources" %}
  </div>
  <div class="card-body">
    {% if user.is_superuser %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
        <a href="{% url 'admin:resources_resource_add' %}" class="btn btn-primary">
          {% trans 'New resource' %}
          <i class="bi bi-plus-circle"></i>
        </a>
      </div>
    {% endif %}

    {% if page_obj %}
      {% pagination page_obj 3 3 %}
    {% endif %}

    {% include 'resources/includes/resource_table.html' %}

    {% if page_obj %}
      {% pagination page_obj 3 3 %}
    {% endif %}

  </div>
{% endblock %}