{% load i18n %}
{% load static %}
{% load sass_tags %}
{% load tz %}

<!DOCTYPE html>
<html>
<head>
  <title>Plan'heure</title>
  <link rel="stylesheet" href="{% sass_src "scss/bootstrap/bootstrap.scss" %}">
  <link rel="stylesheet" href="{% static "icons/bootstrap-icons-1.4.1/bootstrap-icons.css" %}">
  <link rel="stylesheet" href="{% static "css/fullcalendar-5.6.0/main.min.css" %}">
  <link rel="stylesheet" href="{% sass_src "scss/front.scss" %}">
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/moment-timezone@0.5.33/builds/moment-timezone-with-data.min.js'></script>
  <script src="{% static "js/bootstrap/bootstrap.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/fullcalendar-5.6.0/main.min.js" %}" type="text/javascript"></script>
  <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.6.0/main.global.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Plan'heure</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservation_list' %}">{% translate "Reservations" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'resource_list' %}">{% translate "Resources" %}</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'admin:index' %}">{% translate "Admin" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="/api">{% translate "API" %}</a>
          </li>
          {% endif %}
        </ul>
        <div class="d-flex">
          <a href="{% url 'logout'%}" class="btn btn-outline-danger" type="submit">
            <i class="bi bi-person-x"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% block breadcrumbs %}{% endblock breadcrumbs %}
      </ol>
    </nav>
  </nav>
  <div class="container">
    {% block body %}

      {% if messages %}
        <div class="row">
          <div class="col-12">
            {% for message in messages %}

            {% block message_error %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show">
              <i class="bi bi-emoji-frown"></i> &nbsp;{{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endblock message_error %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show">
              <i class="bi bi-emoji-sunglasses"></i> &nbsp;{{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning alert-dismissible fade show">
              <i class="bi bi-emoji-neutral"></i> &nbsp;{{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info alert-dismissible fade show">
              <i class="bi bi-emoji-win"></i> &nbsp;{{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="row">
        {% block layout %}{% endblock %}
      </div>
    {% endblock body %}
  </div>
<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Plan'heure</h5>
        <p>
          {% translate 'Your go to online reservation service.' %}
        </p>
        <p>
          {% translate 'Timezone' %}
          <small>
            {% get_current_timezone as TIME_ZONE %}
            {{ TIME_ZONE }}
          </small>
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">{% translate 'Links' %}</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="{% url 'reservation_list' %}" class="text-dark">{% translate 'Reservations' %}</a>
          </li>
          <li>
            <a href="{% url 'resource_list' %}" class="text-dark">{% translate 'Resources' %}</a>
          </li>
        </ul>
      </div>

      {% if user.is_admin %}
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">{% translate 'Admin links' %}</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="{% url 'admin:index' %}" class="text-dark">Admin</a>
          </li>
          <li>
            <a href="/api/" class="text-dark">API</a>
          </li>
        </ul>
      </div>
      {% endif %}

    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
</body>


{% block javascript %}
{% endblock %}
</html>