{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="card-body">
    <form action="." method="post">
      {% if form.non_field_errors %}
        <div class="non-field-errors">
          {% for err in form.non_field_errors %}
            <p class="text-danger">{{ err }}</p>
          {% endfor %}
        </div>
      {% endif %}
      {% csrf_token %}
        <div class="row">
      {% for field in form %}
        {% if field.name == 'localization' or field.name == 'resource_type' %}
          <div class="col-6">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>

        {% else %}
        <div class="col-12">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
        </div>
      <br>
      <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
    </form>
  </div>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">

    let resource_choice = document.getElementById('id_resource')
    let resources = document.getElementById('id_resource').options
    let defaultOption = resources[0].outerHTML // default option

    async function getResources(filters) {
      try {
        let api_filters = ''
        counter = 0
        for (const [key, value] of Object.entries(filters)) {
          if (counter == 0) {
            api_filters += `?${key}=${value}`
          } else {
            api_filters += `&${key}=${value}`
          }
          counter += 1
        }
        let response = await axios.get(`/api/resource${api_filters}`)
        let results = response.data.results
        return results
      } catch (err) {
        console.error(err)
      }
    }

    let localization_choice = document.getElementById("id_localization")
    let resource_type_choice = document.getElementById("id_resource_type")

    let filters = {
      'localization': localization_choice.value,
      'resource_type': resource_type_choice.value
    }

    localization_choice.addEventListener("change", async function () {
      filters['localization'] = localization_choice.value
      resources = await getResources(filters)
      buildOptions(resources)
    })

    resource_type_choice.addEventListener("change", async function () {
      filters['resource_type'] = resource_type_choice.value
      resources = await getResources(filters)
      buildOptions(resources)
    });

    function buildOptions (resources) {
      // dynamically build new options after filtering
      let newOptions = [
        defaultOption
      ]
      for (var i = resources.length - 1; i >= 0; i--) {
        console.log(resources[i])
        let newOptionsHtml = `<option value=${resources[i].pk}>${resources[i].label}</option>`
        newOptions.push(newOptionsHtml)
      }
      resource_choice.innerHTML = newOptions;
    }

  </script>
{% endblock javascript %}
