{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">
    {% trans "Reservations" %}
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <div class="card-header">
    <i class="bi bi-calendar-check"></i>
    {% translate "Reservations" %}
  </div>
  <div class="card-body">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
      <a href="{% url 'reservation_creation' %}" class="btn btn-primary">
        {% translate "New reservation" %}
        <i class="bi bi-plus-circle"></i>
      </a>
    </div>
    <div id="calendar"></div>

    {% include 'reservations/includes/reservation_table.html' %}
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
{% endblock %}
