{% load i18n %}
{% load tz %}

  <div class="card-header">
    <a class="link-secondary" href="{% url 'reservation_detail' reservation.pk %}">
      <i class="bi bi-calendar-check"></i>
      {{ reservation.title }}
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <a class="link-primary" href="{% url "resource_detail" reservation.resource.pk %}">
        <i class="bi bi-door-open"></i>
        {{ reservation.resource }}
      </a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <i class="bi bi-calendar-date"></i>
      {% timezone user.timezone %}
        {{ reservation.start_date }} - {{ reservation.end_date }}
      {% endtimezone %}
    </h6>
    <p class="card-subtitle mb-2 text-muted">
      <i class="bi bi-person-square"></i>
      {{ reservation.creator }}
    </p>
    <a href="{% url 'reservation_edit' reservation.pk %}" class="btn btn-outline-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Edit" %}">
      <i class="bi bi-calendar-event"></i>
    </a>
    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancel-modal-{{ reservation.pk }}">
      <i class="bi bi-calendar-x"></i>
    </button>
  </div>

<!-- Modal -->
<div class="modal fade" id="cancel-modal-{{ reservation.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% translate "Cancel reservation" %} {{ reservation.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% blocktranslate with reservation_title=reservation.title resource=reservation.resource.label %}
          Do you really wish to cancel reservation {{ reservation_title }} for {{ resource }}?
        {% endblocktranslate %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
        <form method="post" action="{% url 'reservation_cancel' reservation.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary" value="Confirm">{% translate "Confirm" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>